@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
    --primary-color: #6C63FF;
    --bg-color1: rgba(32,28,41,.75);
    --heading-color:#f5d67b;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: #000;
    color: white;
}

@media (min-width: 600px)
.Header_container__1U9KN {
    
    font-size: 1.32vw;
}
.Header_container__1U9KN {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
}
@media (min-width: 600px)
.Header_container__1U9KN a {
    margin-right: 1.04vw;
    /* padding: 49vw 1.39vw; */
    background-color: black;
    text-color: white;
}
.Header_container__1U9KN a[data-current=true] {
    background-color: #fff;
    color: #000;
}

.Header_container__1U9KN a {
    display: inline-block;
    position: relative;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    margin: 2rem 0.5rem;
    padding: 0.5rem;
    transition: all .1s ease-out;
}

.Header_container__1U9KN a:hover {
    transform: scale(1.1);
    text-decoration: none;
}


.wp-block-buttons, figure, p, pre {
    margin: 0 0 1.5rem;
}


.link-active{
    font-weight: bold;
}

/* Nav buttons part done */

/* ...................................... */

/* Image and Code part start */
pre h3{
    float: right;
    padding: 0rem 10rem;
    font-size: 1.6rem;
    color: white;
}
code {
    font-family: Operator Mono A,Operator Mono B,Source Code Pro,Menlo,Consolas,Monaco,monospace;
    position: relative;
    float: right;
    font-size: large;
    padding-right: 20rem;
    
}
.token-punctuation{
    color: #72e0d1;
}
.language-css{
    color: #f5d67b;
}
pre {
    font-family: Operator Mono A,Operator Mono B,Source Code Pro,Menlo,Consolas,Monaco,monospace;
    background: rgba(32,28,41,.75);
    padding: 0;
    tab-size: 2;
    word-break: normal;
    hyphens: none;
    position: relative;
    line-height: 28px;
    border-radius: 8px;
    min-width: 100px;
    max-width: 100%;
    overflow: hidden;
}



 pre .coder-image{
    padding-left: 10rem;
    float: left;
    max-width: 500px;
    display: block;
    margin: auto; 
    padding-top: 3rem;
    padding-bottom: 1rem;
}

/* Image and code part Done */

/* ........................................ */

/* About Us section  start*/


.about-us-section{
    
    border-radius: 8px;
    
}

.about-us-section h1{
    color: var(--heading-color);
}
.about-us-section .container{
    text-align: center;
    padding: 2rem;
}
.about-us-section .container-center{
    max-width: 500px;
    margin: auto;
}
.about-us-section .container p{
    font-size: large;
}

.about-us-section .container .primary-link{
    background-color: var(--heading-color);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: black;
}
/* About Me section Complete */

.section-3-projects{
    background-color: var(--bg-color1);
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
}



.section-3-projects h1, h3{
    padding: 1rem 1rem;
    text-align: center;
    color: var(--heading-color);
    font-size: x-large;
}

.section-3-projects .container{
    
    padding: 0rem 2rem;
}   
.section-3-projects li link{
    text-decoration: none;

}

.section-3-projects .container-center{
    max-width: 500px;
    margin: auto;
    text-align: center;
}
a:link{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.section-3-projects .primary-link{
    background-color: var(--heading-color);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    color: black;
}

.section-3-projects .secondary-link{
    border: 0.5px solid var(--heading-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: white;
}

/* projects section ended */

/* Blog section started */

.blog-div{
    background-color: #6C63FF;
    border-radius: 8px;
}

.blog-div .container{
    text-align: center;
    padding: 2rem;
}

.blog-div .container-center{
    max-width: 500px;
    margin: auto;
}

.blog-div h1{
    color: var(--heading-color);
}

.blog-div .primary-link{
    background-color: var(--heading-color);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: black;
}
