@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
    --primary-color: #34D399;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: #000;
    color: white;
}
h1{
    color: var(--primary-color,white);
}
@media (min-width: 600px)
.Header_container__1U9KN {
    
    font-size: 1.32vw;
}
.Header_container__1U9KN {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
}
@media (min-width: 600px)
.Header_container__1U9KN a {
    margin-right: 1.04vw;
    /* padding: 49vw 1.39vw; */
    background-color: black;
    text-color: white;
}
.Header_container__1U9KN a[data-current=true] {
    background-color: #fff;
    color: #000;
}

.Header_container__1U9KN a {
    display: inline-block;
    position: relative;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    margin: 2rem 0.5rem;
    padding: 0.5rem;
    transition: all .1s ease-out;
}

.Header_container__1U9KN a:hover {
    transform: scale(1.1);
}
code {
    font-family: Operator Mono A,Operator Mono B,Source Code Pro,Menlo,Consolas,Monaco,monospace;
}
.language-css{
    color: #f5d67b;
}
pre {
    font-family: Operator Mono A,Operator Mono B,Source Code Pro,Menlo,Consolas,Monaco,monospace;
    clear: both;
    background: rgba(32,28,41,.75);
    padding: 0;
    tab-size: 2;
    word-break: normal;
    hyphens: none;
    position: relative;
    line-height: 28px;
    border-radius: 8px;
    min-width: 100px;
    max-width: 100%;
    overflow: hidden;
}
.wp-block-buttons, figure, p, pre {
    margin: 0 0 1.5rem;
}
.token-punctuation{
    color: #72e0d1;
}
.coder-image{
    
    max-width: 100%;
    background-size: contain;
    position: relative; 
}